# Ignorar la carpeta miniodata
minio_data/

# Ignorar la carpeta prefect data
prefect_data/
.env

flows/__pycache__
src/services/__pycache__
flows/ingesta/__pycache__
flows/carga_bd/__pycache__
flows/procesamiento/__pycache__
src/api/__pycache__
src/config/__pycache__
src/utils/__pycache__